<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Major Project</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
  <div class="login">
	  <h1>Early Classification of Diabetes</h1>
    <br>
    <article>


    </article>
    <!-- Main Input For Receiving Query to our ML -->
    <form class='cls' action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="age"                 placeholder="age"        required="required" />

      <!-- <input type="text" name="gender"              placeholder="gender (0-male 1 female)"     required="required" /> -->
      <select name="gender" required="required">
        <option value="">-- gender --</option>
        <option value="0" >0</option>
        <option value="1">1</option>
      </select>  

		  <!-- <input type="text" name="polyuria"            placeholder="polyuria"   required="required" /> -->
      <select name="polyuria" required>
        <option value="">-- polyuria --</option>
        <option value="0" >0</option>
        <option value="1">1</option>
      </select>

      <!-- <input type="text" name="polydipsia"          placeholder="polydipsia" required="required" /> -->
      <select name="polydipsia" required>
        <option value="">-- polydipsia --</option>
        <option value="0">0</option>
        <option value="1">1</option>
      </select>

      <!-- <input type="text" name="sudden_weight_loss"  placeholder="sudden_weight_loss" required="required" /> -->
      <select name="sudden_weight_loss" required>
        <option value="">--sudden_weight_loss --</option>
        <option value="0">0</option>
        <option value="1">1</option>
      </select>

      <!-- <input type="text" name="weakness"            placeholder="weakness"   required="required" /> -->
      <select name="weakness" required>
        <option value="">--weakness --</option>
        <option value="0" >0</option>
        <option value="1">1</option>
      </select>

      <!-- <input type="text" name="polyphagia"          placeholder="polyphagia" required="required" /> -->
      <select name="polyphagia" required>
        <option value="">--polyphagia --</option>
        <option value="0" >0</option>
        <option value="1">1</option>
      </select>

      <!-- <input type="text" name="genital_thrush"      placeholder="genital_thrush"     required="required" /> -->
      <select name="genital_thrush" required>
        <option value="">--genital_thrush --</option>
        <option value="0" >0</option>
        <option value="1">1</option>
      </select>

      <!-- <input type="text" name="visual_blurring"     placeholder="visual_blurring"    required="required" /> -->
      <select name="visual_blurring" required>
        <option value="">--visual_blurring --</option>
        <option value="0" >0</option>
        <option value="1">1</option>
      </select>

      <!-- <input type="text" name="itching"             placeholder="itching"    required="required" /> -->
      <select name="itching" required>
        <option value="">--itching --</option>
        <option value="0" >0</option>
        <option value="1">1</option>
      </select>

      <!-- <input type="text" name="irritability"        placeholder="irritability"       required="required" /> -->
      <select name="irritability" required>
        <option value="">--irritability --</option>
        <option value="0" >0</option>
        <option value="1">1</option>
      </select>

      <!-- <input type="text" name="delayed_healing"     placeholder="delayed_healing"    required="required" /> -->
      <select name="delayed_healing" required>
        <option value="">--delayed_healing --</option>
        <option value="0" >0</option>
        <option value="1">1</option>
      </select>

      <!-- <input type="text" name="partial_paresis"     placeholder="partial_paresis"    required="required" /> -->
      <select name="partial_paresis" required>
        <option value="">--partial_paresis --</option>
        <option value="0" >0</option>
        <option value="1">1</option>
      </select>

      <!-- <input type="text" name="muscle_stiffness"    placeholder="muscle_stiffness"   required="required" /> -->
      <select name="muscle_stiffness" required>
        <option value="">-- muscle_stiffness --</option>
        <option value="0" >0</option>
        <option value="1">1</option>
      </select>

      <!-- <input type="text" name="alopecia"            placeholder="alopecia"   required="required" /> -->
      <select name="alopecia" required>
        <option value="">--alopecia --</option>
        <option value="0" >0</option>
        <option value="1">1</option>
      </select>

      <!-- <input type="text" name="obesity"             placeholder="obesity"    required="required" /> -->
      <select name="obesity" required>
        <option value="">--obesity --</option>
        <option value="0" >0</option>
        <option value="1">1</option>
      </select>

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <br>
    <br>
    {{ prediction_text }}
    <br>

  </div>
 

</body>
</html>
