<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Major Project</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
  <div class="login">
	  <h1>Early Classification of Diabetes</h1>
    <!-- <br> -->

    <!-- Main Input For Receiving Query to our ML -->
    <form class='cls' action="{{ url_for('predict')}}"method="post">
      <fieldset>
        <legend>age:</legend>
        <input class='xyz' type="text" name="age"  required="required" />
      </fieldset>
      <!-- <input type="text" name="gender"              placeholder="gender (0-male 1 female)"     required="required" /> -->
      <fieldset>
        <legend>gender:</legend>
        <input type="radio" name="gender"  value="1" required="required" /> <label for="Yes">Female</label>
        <input type="radio" name="gender" value="0" />                      <label for="No">Male</label><br>
        
      </fieldset>  

		  <!-- <input type="text" name="polyuria"            placeholder="polyuria"   required="required" /> -->
      <fieldset>
        <legend>polyuria:</legend>
        <input type="radio" name="polyuria"  value="1" required="required" /> <label for="Yes">Yes</label>
        <input type="radio" name="polyuria" value="0" />                      <label for="No"> No</label><br>
        
      </fieldset> 

      <!-- <input type="text" name="polydipsia"          placeholder="polydipsia" required="required" /> -->
      <fieldset>
        <legend>polydipsia:</legend>
        <input type="radio" name="polydipsia"  value="1" required="required" /> <label for="Yes">Yes</label>
        <input type="radio" name="polydipsia" value="0" />                      <label for="No"> No</label><br>
        
      </fieldset>  

      <!-- <input type="text" name="sudden_weight_loss"  placeholder="sudden_weight_loss" required="required" /> -->
      <fieldset>
        <legend>sudden_weight_loss:</legend>
        <input type="radio" name="sudden_weight_loss"  value="1" required="required" /> <label for="Yes">Yes</label>
        <input type="radio" name="sudden_weight_loss" value="0" />                      <label for="No"> No</label><br>
        
      </fieldset>

      <!-- <input type="text" name="weakness"            placeholder="weakness"   required="required" /> -->
      <fieldset>
        <legend>weakness:</legend>
        <input type="radio" name="weakness"  value="1" required="required" /> <label for="Yes">Yes</label>
        <input type="radio" name="weakness" value="0" />                      <label for="No"> No</label><br>
        
      </fieldset>

      <!-- <input type="text" name="polyphagia"          placeholder="polyphagia" required="required" /> -->
      <fieldset>
        <legend>polyphagia:</legend>
        <input type="radio" name="polyphagia"  value="1" required="required" /> <label for="Yes">Yes</label>
        <input type="radio" name="polyphagia" value="0" />                      <label for="No"> No</label><br>
        
      </fieldset>

      <!-- <input type="text" name="genital_thrush"      placeholder="genital_thrush"     required="required" /> -->
      <fieldset>
        <legend>genital_thrush:</legend>
        <input type="radio" name="genital_thrush"  value="1" required="required" /> <label for="Yes">Yes</label>
        <input type="radio" name="genital_thrush" value="0" />                      <label for="No"> No</label><br>
        
      </fieldset>

      <!-- <input type="text" name="visual_blurring"     placeholder="visual_blurring"    required="required" /> -->
      <fieldset>
        <legend>visual_blurring:</legend>
        <input type="radio" name="visual_blurring"  value="1" required="required" /> <label for="Yes">Yes</label>
        <input type="radio" name="visual_blurring" value="0" />                      <label for="No"> No</label><br>
        
      </fieldset>

      <!-- <input type="text" name="itching"             placeholder="itching"    required="required" /> -->
      <fieldset>
        <legend>itching:</legend>
        <input type="radio" name="itching"  value="1" required="required" /> <label for="Yes">Yes</label>
        <input type="radio" name="itching" value="0" />                      <label for="No"> No</label><br>
        
      </fieldset>

      <!-- <input type="text" name="irritability"        placeholder="irritability"       required="required" /> -->
      <fieldset>
        <legend>irritability:</legend>
        <input type="radio" name="irritability"  value="1" required="required" /> <label for="Yes">Yes</label>
        <input type="radio" name="irritability" value="0" />                      <label for="No"> No</label><br>
        
      </fieldset>

      <!-- <input type="text" name="delayed_healing"     placeholder="delayed_healing"    required="required" /> -->
      <fieldset>
        <legend>delayed_healing:</legend>
        <input type="radio" name="delayed_healing"  value="1" required="required" /> <label for="Yes">Yes</label>
        <input type="radio" name="delayed_healing" value="0" />                      <label for="No"> No</label><br>
        
      </fieldset>

      <!-- <input type="text" name="partial_paresis"     placeholder="partial_paresis"    required="required" /> -->
      <fieldset>
        <legend>partial_paresis:</legend>
        <input type="radio" name="partial_paresis"  value="1" required="required" /> <label for="Yes">Yes</label>
        <input type="radio" name="partial_paresis" value="0" />                      <label for="No"> No</label><br>
        
      </fieldset>

      <!-- <input type="text" name="muscle_stiffness"    placeholder="muscle_stiffness"   required="required" /> -->
      <fieldset>
        <legend>muscle_stiffness:</legend>
        <input type="radio" name="muscle_stiffness"  value="1" required="required" /> <label for="Yes">Yes</label>
        <input type="radio" name="muscle_stiffness" value="0" />                      <label for="No"> No</label><br>
        
      </fieldset>

      <!-- <input type="text" name="alopecia"            placeholder="alopecia"   required="required" /> -->
      <fieldset>
        <legend>alopecia:</legend>
        <input type="radio" name="alopecia"  value="1" required="required" /> <label for="Yes">Yes</label>
        <input type="radio" name="alopecia" value="0" />                      <label for="No"> No</label><br>
        
      </fieldset>

      <!-- <input type="text" name="obesity"             placeholder="obesity"    required="required" /> -->
      <fieldset>
        <legend>obesity:</legend>
        <input type="radio" name="obesity"  value="1" required="required" /> <label for="Yes">Yes</label>
        <input type="radio" name="obesity" value="0" />                      <label for="No"> No</label><br>
        
      </fieldset>

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    
    <br>
    {{ prediction_text }}
    <br>

  </div>
 

</body>
</html>
